{% extends 'base.html.twig' %}

{% block title %}Bienvenue à la biblio{% endblock %}

{% block body %}

<div class="d-flex flex-wrap">
    {% for livre in livres %}
        {{ include("livre/vignette.html.twig") }}
    {% endfor %}
</div>


{% endblock %}
