{# EXERCICE : modifier le contrôleur pour qu'il n'y ait plus d'erreur et que votre prénom soit affiché #}
{% extends "base.html.twig" %}

{% block body %}
<h2> Salut, je m'appelle {{ prenom }} et ceci est le cours de Symfony</h2>
{% endblock %}